<h1>Your Workouts</h1>
<div class="card" style="margin: 10px;">
    <p-table [value]="workouts">
        <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workout>
        <tr>
            <td>{{workout.name}}</td>
            <td>{{workout.description}}</td>
            <td>
                <button pButton type="button" label="Details" (click)="showDetailed(workout.id)"></button>
            </td>
            <td>
                <button pButton type="button" label="Comment/Rate" (click)="openCommentDialog(workout.id)"></button>
            </td>
            <td>
                <button pButton type="button" label="Remove from profile" (click)="removeFromUser(workout.id)"></button>
            </td>
        </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="displayWorkout">
    <div class="card" style="margin: 10px;">
        <h1>{{workout.name}}</h1>
        <div *ngFor="let set of workout.sets; index as i;" class="card" style="height: 200px; border: 1px solid;">
            <p>Set {{set.orderNum}}</p>
            <div *ngFor="let rep of set.reps; index as i;" class="card" style="border: 1px solid; float: left;">
                <p>Rep {{rep.orderNum}}</p>
                <p>No Reps: {{rep.noReps}}</p>
                <p>Exercise: {{rep.exercise?.name}}</p>
                <p>Exercise: {{rep.exercise?.description}}</p>
            </div>
            <br>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="displayCommentDialog">
    <div>
        <h1>Leave a Comment</h1>
        <textarea pInputTextarea [(ngModel)]="comment.comment"></textarea>
        <br>
        <br>
        <button *ngIf="!commentExists" pButton [disabled]="validateComment()" type="button" label="Save comment" (click)="createComment('WORKOUT')"></button>
        <button *ngIf="commentExists" pButton [disabled]="validateComment()" type="button" label="Update comment" (click)="updateComment()"></button>
    </div>
    <div>
        <h1>Leave Rating</h1>
        <p-rating [cancel]="false" [(ngModel)]="rating.rating"></p-rating>
        <br>
        <button *ngIf="!ratingExists" pButton type="button" label="Save rating" (click)="createRating('WORKOUT')"></button>
        <button *ngIf="ratingExists" pButton type="button" label="Update rating" (click)="updateRating()"></button>
    </div>
</p-dialog>