<h1>Workouts</h1>
<div class="card" style="margin: 10px; display: grid;">
  <div class="p-formgroup-inline">
    <div class="p-field">
      <input type="text" pInputText [(ngModel)]="workout.name" />
    </div>
    <br>
    <div class="p-field">
      <input type="text" pInputText [(ngModel)]="workout.description" />
    </div>
    <br>
    <button pButton type="button" label="Add Set" (click)="addSet()"></button>
  </div>
  <h1>Sets</h1>
  <div *ngFor="let set of workout.sets; index as i;" class="card" style="display: inline-table; border: 1px solid; margin: 10px;">
    <div>
      <h3>Break length between exercises</h3>
      <input type="number" pInputText [(ngModel)]="set.breakLngth" />
      <h3>Number of sets</h3>
      <input type="number" pInputText [(ngModel)]="set.noSets" />
    </div>
      <br>
      <button pButton type="button" label="Add Rep" (click)="showDialog(set.orderNum)"></button>
      <br>
      <br>
    <div>
      <div *ngFor="let rep of set.reps; index as i;" class="card" style="border: 1px solid; float: left; margin: 10px;">
        <p>Rep {{rep.orderNum}}</p>
        <p>No Reps: {{rep.noReps}}</p>
        <p>Exercise: {{rep.exercise?.name}}</p>
        <p>Description: {{rep.exercise?.description}}</p>
      </div>
    </div>
    <br>
  </div>
</div>

<button pButton type="button" [disabled]="validateWorkout()" label="Create workout" (click)="creaeteWorkout()"></button>

<p-dialog header="Add rep dialog" [(visible)]="display">
  <div style="display: inline-flex; margin: 10px;">
    <div class="card" style="margin: 10px;">
      <div class="p-formgroup-inline">
        <div class="p-field">
          <input type="number" pInputText [(ngModel)]="newRepNoReps" />
        </div>
        <br>
        <button pButton [disabled]="validateRep()" type="button" label="Submit" (click)="addRep()"
          id="submit-search"></button>
      </div>
    </div>

    <div class="card" style="margin: 10px;">
      <p-table [value]="exercises" selectionMode="single" [(selection)]="exerciseToAdd" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Img</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-exercise>
          <tr [pSelectableRow]="exercise">
            <td>{{exercise.name}}</td>
            <td>{{exercise.description}}</td>
            <td>{{exercise.img}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-dialog>
